<mat-toolbar class="header">
  <span>
    <img src="assets/todo-logo.png" alt="logo-todo">
  </span>
  <span>
    <h1>Todo System Aplications</h1>
  </span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  </button>
   <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  </button>
</mat-toolbar>